// -----------------------------------------------------------------------------
// This file contains all styles related to the ChartCard component.
// -----------------------------------------------------------------------------
$spacing: 20px;
.ChartCard {
  position: relative;
  overflow: hidden;
  div.titleContainer {
    display: flex;
    justify-content: space-between;
    padding: $spacing $spacing 0;

    // TODO: ?move to navbar?
    div.buttonContainer {
      .timeToggleButton {
        padding: 4px 0;
        min-height: 0;
        &:first-child {
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:not(:last-child):not(:first-child) {
          border-radius: 0;
        }
        &:last-child {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }


  }
  div.content {
    padding: $spacing;
  }
  div.chartContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}