// -----------------------------------------------------------------------------
// This file contains all styles related to the ChartCard component.
// -----------------------------------------------------------------------------

$chart-height: 150px;
.ChartCard {
  padding-bottom: $chart-height;
  div.chartContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .verticalDivider {
    margin: 0 12px;
    border-left: 1px solid #ccc;
  }
  .horizontalSpacing {
    height: 100%;
    width: 16px;
  }
}