// -----------------------------------------------------------------------------
// This file contains all styles related to the ChartCard component.
// -----------------------------------------------------------------------------
$spacing: 20px;
.InformationCard {
  position: relative;
  overflow: hidden;
  div.titleContainer {
    display: flex;
    justify-content: space-between;
    padding: $spacing $spacing 0;
  }
  div.content {
    padding: $spacing;
  }
  .smallerText {
    font-size: 70%;
  }
  .tinyText {
    font-size: 60%;
  }
}