.popupContent {
  &.items {
    .listSection {
      ul {
        padding: 0;
      }
    }
    .rightTextContainer {
      pointer-events: none;
      margin: auto 12px;
      user-select: none;
    }
  }
  &.item {
    margin: 24px;
    .headerWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .itemIcon {
      font-size: 120px;
      margin: auto 24px 24px auto
    }
    .infoSection {
      margin-bottom: 12px;
      &.geen {
        opacity: 0.5;
      }
    }
  }
  &.datapoint {
    margin: 24px
  }
}