.popupContent {
  &.items {
    .listSection {
      ul {
        padding: 0;
      }
    }
    .rightTextContainer {
      pointer-events: none;
      margin: auto 12px;
      user-select: none;
    }
  }
  &.item {
    margin: 24px
  }
  &.datapoint {
    margin: 24px
  }
}