// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'xs': 0px,
  'extra-small': 0px,
  'sm': 600px,
  'small': 600px,
  'md': 960px,
  'medium': 960px,
  'lg': 1280px,
  'large': 1280px,
  'xl': 1280px,
  'extra-large': 1280px,
) !default;

/// Mixins for media queries, can be used like this:
/// @include mq-min(medium) {
///   .main    { width: 60%; }
///   .sidebar { width: 40%; }
/// }
@mixin mq-min($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin mq-max($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (max-width: #{$mq-breakpoint}) {
    @content;
  }
}




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
