// -----------------------------------------------------------------------------
// This file contains styles that are specific to the overzicht page.
// -----------------------------------------------------------------------------

.Overzicht {

  div.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.buttonContainer {
      display: flex;
      div.circularButtonWrapper{
        position: relative;
        .circularButtonLoader {
          position: absolute;
          top: -6px;
          left: -6px;
          z-index: 1;
        }
      }
      padding-bottom: 24px;
      .timeToggleButton {
        padding: 4px 0;
        min-height: 0;
      }
    }
  }

}