// -----------------------------------------------------------------------------
// This file contains styles that are specific to the overzicht page.
// -----------------------------------------------------------------------------

.Overzicht {

  div.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.buttonContainer {
      padding-bottom: 24px;
      .timeToggleButton {
        padding: 4px 0;
        min-height: 0;
      }
    }
  }
  /**/

  .ChartCard {
    div.content {

    }
  }

  $chart-height: 150px;
  .GridContainer {
    .GridItem {
      .ChartCard.card {
        padding-bottom: $chart-height;
        height: 100%;
      }
    }
  }
}